/*hero*/
.hero {
    background: linear-gradient(135deg, #005bea, #00c6fb);
    color: white;
    padding: 120px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 2.2rem;
    font-weight: 700;
    max-width: 900px;
    margin: auto;
    line-height: 1.4;
}

.hero h2 strong {
    background: #2243ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
}


.hero p {
    font-size: 1.2rem;
    margin-top: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

.hero .btn-cta {
    margin-top: 30px;
    padding: 15px 35px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    background-color: #08007c;
    color: #fff;
    border: none;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.hero .btn-cta:hover {
    background-color: #0b003d;
    transform: scale(1.05);
}

/*Para quem é essa mentoria*/
.para-quem-mentoria {
    background: linear-gradient(135deg, #ffffff, #f0f6ff);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

.para-quem-mentoria h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.para-quem-mentoria ul {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

.para-quem-mentoria ul li i {
    color: #0066ff;
    margin-right: 10px;
    font-size: 1.4rem;
}

.para-quem-mentoria ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

@media (max-width: 768px) {

    .hero h2 strong {
        background: none;
        color: #fff;
        padding: 5px 10px;
        border-radius: 6px;
    }

}