/*variaveis*/
:root {
    --navy: #0B1A3A;
    --navy-2: #11295B;
    --red: #E02020;
    --red-2: #B81616;
    --white: #FFFFFF;
    --black: #111111;
    --soft: #F6F8FC;
}

/*hero*/
.hero {
    background: linear-gradient(135deg, var(--navy), var(--navy-2));
    color: var(--white);
    padding: 120px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 2.2rem;
    font-weight: 700;
    max-width: 900px;
    margin: auto;
    line-height: 1.4;
    color: var(--white);
}

.hero h2 strong {
    background: var(--navy-2);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 6px;
}


.hero p {
    font-size: 1.2rem;
    margin-top: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    color: var(--white);
}

.hero .btn-cta {
    margin-top: 30px;
    padding: 15px 35px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    background: var(--red);
    color: var(--white);
    border: none;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.hero .btn-cta:hover {
    background-color: var(--red-2);
    transform: scale(1.05);
}

/*Para quem é essa mentoria*/
.para-quem-mentoria {
    background: var(--soft);
    color: var(--black);
    padding: 20px;
    text-align: center;
}

.para-quem-mentoria h2 {
    color: var(--navy);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
}

.para-quem-mentoria ul {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

.para-quem-mentoria ul li i {
    color: var(--navy); 
    margin-right: 10px;
    font-size: 1.4rem;
}

.para-quem-mentoria ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

@media (max-width: 768px) {

    .hero h2 strong {
        background: none;
        color: var(--white);
        padding: 5px 10px;
        border-radius: 6px;
    }

}